article>
<div class="title">
    <h2>
        Titre de l'article

    </h2>
</div>

<div class="date">
    <i>
        12/12/2016 - 12h00
    </i>
</div>

<div class="author">
    Auteur de l'article
</div>

<div class="image-container">
    <img src="http://via.placeholder.com/250x250" alt="">
</div>

<div class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi at autem cupiditate doloremque eaque,
    ex excepturi hic minus, nisi odio quaerat quod recusandae reprehenderit sed! In molestias nihil rerum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, consectetur consequatur deleniti dolor dolores ea exercitationem facere ipsam iusto magnam nam possimus quia recusandae reprehenderit sed sequi vero vitae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, architecto assumenda at autem, consectetur debitis, distinctio enim incidunt inventore laboriosam molestiae molestias obcaecati odio provident ratione temporibus totam voluptate voluptatibus?
</div>

<div class="tags-container">
    <ul class="tags">
        <li class="tag">mer</li>
        <li class="tag">terre</li>
        <li class="tag">soleil</li>
        <li class="tag">dernier tag</li>
    </ul>
</div>
<div class="link"><a href="">Lire en entier</a></div>
</article>