* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans Serif, serif;
  box-sizing: border-box; }

.container {
  max-width: 1080px;
  display: block;
  margin: auto;
  width: 80%; }

header {
  background-color: #b3b3b3; }
  header #top-header {
    background-color: grey; }
    header #top-header ul {
      width: 100%;
      margin-bottom: 0; }
      header #top-header ul li {
        list-style-type: none;
        text-align: right; }
        header #top-header ul li a {
          line-height: 1.2em;
          color: white;
          padding: 7px;
          text-decoration: none;
          display: inline-block; }
  header .container {
    display: flex; }
    @media screen and (max-width: 980px) {
      header .container {
        display: block;
        margin: auto;
        text-align: center; }
        header .container #menu {
          text-align: center; }
          header .container #menu ul {
            display: block; } }
  header #logo {
    padding: 5px; }
    header #logo img {
      max-height: 120px;
      margin: 5px 0;
      max-width: 250px; }
  header #menu {
    text-align: right;
    flex-grow: 1; }
    header #menu ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%; }
      header #menu ul li {
        display: inline-block;
        margin: 5px;
        padding: 5px; }
        header #menu ul li a {
          text-decoration: none;
          color: black;
          text-transform: uppercase; }
  header::after {
    content: '';
    clear: both;
    display: table; }

main {
  margin: 15px 0; }
  main .alert {
    background-color: #ededed;
    border: 2px solid lightgrey;
    margin: 10px 0;
    padding: 20px; }
  main article {
    background-color: #ededed;
    position: relative;
    display: block;
    padding: 20px;
    margin: 5px;
    float: left; }
    main article:not(.single) {
      width: calc(50% - 10px); }
      @media screen and (max-width: 980px) {
        main article:not(.single) {
          width: calc(100% - 10px);
          float: none; } }
      main article:not(.single) .content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      main article:not(.single) .image-container {
        max-height: 200px; }
      main article:not(.single) .link {
        display: block;
        margin: 10px 0; }
        main article:not(.single) .link a {
          text-decoration: none;
          background-color: grey;
          color: white;
          padding: 7px;
          display: inline-block;
          cursor: pointer; }
    main article.admin {
      width: 100%; }
      main article.admin .wrapper {
        float: left; }
        @media screen and (max-width: 980px) {
          main article.admin .wrapper {
            float: none; } }
        main article.admin .wrapper .options a {
          text-decoration: none;
          display: inline-block;
          margin-top: 15px;
          cursor: pointer;
          padding: 10px;
          background-color: #ff9999;
          color: white;
          border: none; }
      main article.admin .image-container {
        width: auto;
        float: right;
        max-height: 100px; }
        @media screen and (max-width: 980px) {
          main article.admin .image-container {
            float: none;
            width: 100%;
            max-height: 300px; }
            main article.admin .image-container img {
              width: 100% !important; } }
        main article.admin .image-container img {
          width: 200px; }
      main article.admin::after {
        content: '';
        clear: both;
        display: table; }
    main article:nth-of-type(2n +1) {
      clear: both; }
      main article:nth-of-type(2n +1)::after {
        content: '';
        display: table;
        clear: both; }
    main article .image-container {
      margin-top: 10px;
      overflow: hidden;
      max-width: 100%;
      width: 100%;
      max-height: 400px; }
      main article .image-container img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: 0 4px 11px -4px black;
        -moz-box-shadow: 0 4px 11px -4px black;
        box-shadow: 0 4px 11px -4px black; }
    main article .date, main article .author {
      font-size: 12px;
      display: inline-block; }
    main article .content {
      margin: 20px 0; }
    main article .tags-container {
      display: block; }
      main article .tags-container ul.tags li.tag {
        list-style-type: none;
        display: inline-block;
        background-color: lightgrey;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid #bababa;
        padding: 4px 12px;
        font-size: 13px; }
    main article .comments-wrapper {
      margin: 20px 0; }
      main article .comments-wrapper h3 {
        margin-bottom: 10px; }
      main article .comments-wrapper .comments .comment {
        padding: 20px;
        background-color: #f4f4f4; }
        main article .comments-wrapper .comments .comment .comment-title {
          margin-bottom: 10px; }
        main article .comments-wrapper .comments .comment .comment-date {
          font-size: 13px; }
        main article .comments-wrapper .comments .comment .comment-content {
          margin-top: 10px; }
  main form {
    background-color: white;
    display: block;
    padding: 20px; }
    main form input, main form textarea, main form select {
      margin: 10px 0;
      width: 100%;
      display: block;
      padding: 7px; }
    main form select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    main form button[type=submit] {
      padding: 10px;
      background-color: grey;
      border: none;
      color: white;
      cursor: pointer; }
  main::after {
    content: '';
    display: table;
    clear: both; }

footer {
  color: white;
  background-color: grey;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  text-align: center; }
