* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans Serif; }

.container {
  max-width: 1080px;
  display: block;
  margin: auto;
  width: 80%; }

header {
  background-color: rgba(0, 63, 17, 0.32); }
  header .container {
    display: flex; }
    @media screen and (max-width: 980px) {
      header .container {
        display: block;
        margin: auto;
        text-align: center; }
        header .container #menu {
          text-align: center; }
          header .container #menu ul {
            display: block; } }
  header #logo {
    padding: 5px; }
    header #logo img {
      max-height: 120px;
      border-radius: 100%;
      -webkit-box-shadow: 0px 2px 5px -1.5px black;
      -moz-box-shadow: 0px 2px 5px -1.5px black;
      box-shadow: 0px 2px 5px -1.5px black;
      margin: 10px 0; }
  header #menu {
    text-align: right;
    flex-grow: 1; }
    header #menu ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%; }
      header #menu ul li {
        display: inline-block;
        margin: 5px;
        padding: 5px; }
        header #menu ul li a {
          text-decoration: none;
          color: black;
          border-bottom: 2px solid rgba(0, 63, 17, 0.32);
          text-transform: uppercase; }
  header::after {
    content: '';
    clear: both;
    display: table; }

main {
  margin: 15px 0; }
  main article {
    padding: 20px;
    margin: 5px;
    display: grid;
    grid-template-areas: "title title pic" "date date pic" "author author pic" "content content content" "tags tags link"; }
    @media screen and (max-width: 980px) {
      main article {
        grid-template-areas: "title title title" "date date date" "author author author" "pic pic pic" "content content content" "tags tags tags" "link link link"; } }
    main article .title {
      grid-area: title;
      align-self: center; }
    main article .image-container {
      grid-area: pic;
      align-self: center; }
      main article .image-container img {
        -webkit-box-shadow: 0 4px 11px -4px black;
        -moz-box-shadow: 0 4px 11px -4px black;
        box-shadow: 0 4px 11px -4px black; }
    main article .date {
      grid-area: date;
      align-self: center; }
    main article .author {
      grid-area: author;
      align-self: center; }
    main article .content {
      grid-area: content;
      text-overflow: ellipsis;
      margin: 20px 0; }
    main article .tags-container {
      grid-area: tags; }
      main article .tags-container ul.tags li.tag {
        list-style-type: none;
        display: inline-block;
        background-color: lightgrey;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid #bababa;
        padding: 4px 12px;
        font-size: 13px; }
    main article .link {
      grid-area: link; }
  main form button[type=submit] {
    padding: 10px;
    background-color: rgba(0, 63, 17, 0.32);
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer; }

footer {
  color: white;
  background-color: rgba(0, 63, 17, 0.32);
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  text-align: center; }

/*# sourceMappingURL=web.css.map */
